@{
    ViewBag.Title = "Provision";
}

<h2 class="ctdt_pageTitle">Site converted or upgraded</h2>
<br/>

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-md6 ms-u-lg6">
            @Html.ActionLink("Back", "Index", "Home", new { ViewBag.SPHostUrl, ViewBag.SPLanguage, ViewBag.SPClientTag, ViewBag.SPProductNumber }, new { @class = "ms-Button ms-Button--primary" })
        </div>
    </div>
    <br />
    <br />
</div>

